[2016-01-23 22:55] Ahmed-Ali opened #1 "Screenshots"

[2016-01-23 22:55] #1 closed

[2016-03-29 10:30] concertman opened #7 "Crash when Cucumberish is not able to read languagesFileContent"
I've not been able to figure out why it can't get the languages File Content but it is causing a crash

![screen_shot_2016-03-29_at_11_26_11](https://cloud.githubusercontent.com/assets/510749/14105134/960b00ee-f5a1-11e5-853e-eef39f3fe073.png)

### Update
Looks like `gherkinLanguagesBundle` is nil inside `- (NSDictionary<NSString *, GHGherkinLanguageSetting *> *)languagesSetting`

[2016-04-06 14:16] BartBM commented on #7
I got the same error.
This happens when you try to add the Cucumberish library as a pod to an XCUI test target.
You should add the folder directly to your test target as described on the wiki. (Note: I did NOT add the Cucumberish source directory as a reference but selected "Create groups", the opposite from what's mentioned on the wiki).

[2016-04-06 14:20] Ahmed-Ali commented on #7
Maybe I mis communicated that. Adding cucumber as a reference means select as "Create groups" instead of "create folder reference". I will update that.

[2016-04-27 06:21] abbood opened #8 "i must restart xcode everytime in order for the tests to run properly"
`given` i have written several features to be tested
`and` I run UI tests
`and` the tests run successfully
`when` I try to run the UI tests again
`then`
**expected** the tests should run successfully
**actual** all the tests are skipped.. and i get a "tests succeeded" all the time
**workaround** restart xcode everytime, in order to successfully run tests

note: the test that actually runs and is m

[2016-04-27 08:27] abbood opened #9 "how does regex work in Cucumberish?"
@Ahmed-Ali
I was trying to understand this syntax you have

[code]

b/c some of my own expressions weren't recognized properly..
So i created [this playground](https://gist.github.com/abbood/dfdbd235501bb96037f29426a420c54b).. and your patterns aren't recognized by the regular swift regex matchers.. can you please elaborate a bit? are you using a different regex engine under the hood or something?

[2016-04-27 11:14] abbood commented on #8
work around:

type this into ~/.bash_profile
[code]

[2016-04-27 12:17] abbood opened #10 "all console output is gone once tests are complete"
`given` user launched test
`when` all tests passed (or failed)
`then`
**expected** the output of the tests should remain on the console
**actual** the output of the tests are all gone

[2016-04-27 12:46] dmortim3 commented on #8
I've also seen this problem.

If the test target is executed using ⌘U then the tests will run without a restart. Of course it would be great to get this working from the test navigator...

[2016-04-27 12:49] abbood opened #11 "weird error when having extended steps"
these gherkin steps work

[code]

however when i want to combine these steps into this

[code]

then this error happens

[code]

here is the trace:
[code]

[2016-04-27 13:01] abbood commented on #8
@dmortim3 so what's the difference? what does <kbd>⌘U</kbd> mean?

[2016-04-27 13:51] dmortim3 commented on #8
⌘U is the same as using "Product/Test" from the menu. This will execute tests for your selected scheme.

[2016-04-27 21:34] Ahmed-Ali commented on #8
@abbood are you trying to execute the case using the small play button beside the test case?

[2016-04-27 21:43] Ahmed-Ali commented on #9
Cucumberish uses the builtin regex API.
For the steps; first Gherkin parser parses the whole feature file and pass the step with data structure something like that
`
{
"keyword" : "When",
"text" : "I tap on the button"
}
`

Based on the keyword, I limit my matching with only the registered "When" steps.
Then I loop on these steps and try to evaluate their regular expression against the passed step

[2016-04-27 21:48] Ahmed-Ali commented on #10
I did not encounter such issue before!
Which Xcode version do you use?

[2016-04-27 21:52] Ahmed-Ali commented on #11
I believe this has nothing to do with Cucumberish itself. It is something wrong with your step implementation body.
The error says
"2016-04-27 15:51:45.474 XCTRunner[96459:6134523] Currently executing: "Given the app is running"
fatal error: unexpectedly found nil while unwrapping an Optional value"

In such case, I would put a breakpoint inside the implementation of this step "Given the app is ru

[2016-04-27 21:52] #11 closed

[2016-04-28 05:18] abbood commented on #10
Version 7.2.1 (7C1002)

[2016-04-28 05:18] abbood commented on #9
excellent thanks for the info

[2016-04-28 05:18] #9 closed

[2016-04-28 05:20] abbood commented on #8
yes @Ahmed-Ali
![screen shot 2016-04-28 at 8 19 56 am 2016-04-28 08-20-14](https://cloud.githubusercontent.com/assets/774379/14876091/1467aca0-0d1a-11e6-9063-11e7794bf7ee.png)

[2016-04-28 06:56] abbood commented on #11
@Ahmed-Ali I went back over my code.. The step implementation is the exact same (it was taken from your example).. this is what it is:

        Given("the app is running") { (args, userInfo) -> Void in
           application.launch()
        }

i did some debugging.. the interesting part is that even with the correct set of steps.. if i put this log statement inside the above body:

[code]

i get

[2016-04-28 06:59] abbood opened #12 "scenario outline that launches app cannot be first scenario"
# bug repro
`given` the fist scenario is a scenario outline (ie one that has a data table like so):

[code]
`when` the user runs the tests
`then`
**expected** the app should launch and tests must be executed as normal
**actual** the app crashes with this error
[code]

# related
see this issue for more details https://github.com/Ahmed-Ali/Cucumberish/issues/11

# analysis
see this comment https://g

[2016-04-29 19:34] Ahmed-Ali commented on #8
I didn't think this should be an issue, but you can achieve the same thing by CMD+U
@dmortim3 I wish running individual test cases from test navigator was possible, but it is not at this moment. It has to do with how Xcode handles runtime XCTestCase.
But you can tag your features and scenarios and run them by tag!

[2016-04-29 19:34] #8 closed

[2016-04-30 19:32] Ahmed-Ali commented on #12
Hi @abbood
There are two points worth highlighting:
1- The whole implementation of Cucumberish is written in Objective-C, which doesn't have the concept of "Optional unwrapping".
2- The actual implementation of the step that launches the app (or do anything else), is written by you!

The point is, there is something in your step implementation, and since I can not see any complete code snippet, I

[2016-04-30 19:32] Ahmed-Ali commented on #11
Maybe the "application" variable is still nil at this point?
Maybe the args are nil and you are trying to access it?

[2016-04-30 19:34] Ahmed-Ali commented on #10
I am currently using 7.3, and previously 7.2 and never had such an issue!
However, this issue is not related to Cucumberish; if this issue exist, it will be there with any other app launches. It has something to do with Xcode apart from Cucumberish!

[2016-04-30 19:34] #10 closed

[2016-04-30 19:35] #7 closed

[2016-05-01 16:31] #12 closed

[2016-05-03 09:20] dmortim3 commented on #8
Yes this is exactly what I am doing. WAs also looking at looking at opt-out tagging such as @manual. I don't think cucumberish supports this atm, but it could be added. Will be deciding this week if I will be going down this route.

I'm finding Cucumberish really useful. Thanks.

[2016-07-11 05:37] vincentkjj opened #13 "Reporting: Can't click into the source file from Xcode report navigator when there is a space in app name"
I've discovered with v0.0.7 that we are not able to click into the report navigator after a case fails.
We have the setting SRC_ROOT=@\"$(SRCROOT)\"

On debugging we've noticed that parseFeatureFiles method of CCIFeaturesManager.m is not handling such case correctly (the original string has URL encoded spaces into %20, but not handled in code)

[code]

This following logic works for us

[code]

If

[2016-07-11 16:47] Ahmed-Ali commented on #13
Hi @vincentkjj
Thanks for your contribution.
The issue can be reproduced here.
Your fix works as well. Please open a PR.

Thanks

[2016-07-12 03:49] vincentkjj commented on #13
Thanks! PR https://github.com/Ahmed-Ali/Cucumberish/pull/14

[2016-07-25 14:56] Ahmed-Ali commented on #13
Hi @vincentkjj
sorry for my late reply. PR has been merged into develop branch and I will prepare a minor release for the master to include this fix.

[2016-07-25 14:56] #13 closed

[2016-08-23 06:09] ilife opened #17 "BDD tests pass even though their definitions are missing."
Steps:

1. Create a test scenario with a Given step as "I have a very cool app" in feature file.
2. Implement its definition in the native code.
3. Create an another test scenario with a Given step as "I have a very cool app and website" in feature file.
4. Don't implement its definition in native code.
5. Run BDD tests.
6. All tests pass even though another test scenario was never implemented in

[2016-08-24 21:57] Ahmed-Ali commented on #17
Issue has been fixed and will be included in master with the next update.
Thanks @ilife for reporting it.

[2016-08-24 21:57] #17 closed

[2016-09-30 09:35] asengmany opened #21 "Steps with accent character crash"
Hi,

Writing steps with accented character like 'é' or  'ô' make the test crash. I got this error

failed: caught "NSRangeException", "*** -[NSRegularExpression enumerateMatchesInString:options:range:usingBlock:]: Range or index out of bounds"

I dont have time currently to dig into it but if you could that would be awesome.

Aside from that it works perfectly :)

[2016-09-30 22:24] Ahmed-Ali commented on #21
Hi @asengmany
I have tried to just add some of these accented characters to few of the steps I have, and it worked fine.
So if it is possible to provide more information or steps to reproduce, it would be great!
Thanks

[2016-10-04 14:56] asengmany commented on #21
[code]

And my step

`    Then I should see text containing "é"`

It doesnt even execute the function

[2016-10-04 15:27] asengmany commented on #21
In
`- (CCIStepDefinition *)findDefinitionForStep:(CCIStep *)step amongDefinitions:(NSArray *)definitions inTestCase:(id)testCase`

You are using
`        NSRange searchRange = NSMakeRange(0, [step.text lengthOfBytesUsingEncoding:NSUTF8StringEncoding]);
`

 But unicode character can be more than 1 byte I think so that's why it failed with error 'Range or index out of bounds'

Replacing this line by

[2016-10-06 07:54] #21 closed

[2016-10-24 19:23] Shashikant86 opened #25 "Bridging headers not imported when Podfile has 'use_frameworks!'"
Cocoapod installation seems to have an issue when `Podfile` has

`use_frameworks!`

Not sure, it's issue with Cocoapods or Cucumberish but it's not working

Error says
``
/Users/Shashi/Desktop/CucumberishPodTests/CucumberishPodTestsCucumberTests/CucumberishPodTestsCucumberTests-Bridging-Header.h:14:9: error: 'Cucumberish.h' file not found
#import "Cucumberish.h"
        ^
<unknown>:0: error: faile

[2016-10-24 19:47] Ahmed-Ali commented on #25
I am able to reproduce the issue. When using use_framework! you just need to
`
import Cucumberish`
in the swift file. But there is another issue I found when doing that (Cucumberish unable to report errors properly), and I am working on a fix for that.
Thanks for reporting it! I will update the documentation accordingly.

[2016-10-24 19:47] #25 closed

[2016-10-24 20:50] Ahmed-Ali commented on #25
The issue has been resolved and the readme instructions updated accordingly.
Please delete your Podfile.lock and rerun pod install to get version 1.0.3
And as mentioned, use the following in your swift files instead of bridging header.
[code]

[2016-10-27 19:21] brentleyjones opened #27 "Release 1.0.4 with regex fixes"
Hi,

Can we get develop merged into master and cut a new CocoaPods release? I'm currently pinned to the top of the develop branch in my local environment, but would like to use a tagged release to make CocoaPods run faster.

Thanks!

[2016-10-27 19:25] Ahmed-Ali commented on #27
Sure!
Will work on it now.

[2016-10-27 19:25] #27 closed

[2016-10-27 19:34] Ahmed-Ali commented on #27
Done!

[2016-11-04 11:03] ollitapa opened #28 "Carthage support"
Any chance of getting support for Carthage dependency manager?

[2016-11-07 15:48] Ahmed-Ali commented on #28
This was planned long time ago and I got it in place (in local dev branch as I can recall), and it that time I got some troubles with it. I think most of these issues has been already resolved by now. I will give it another try as soon as possible.

[2016-11-08 09:50] ollitapa commented on #28
That would be great! Thanks!

[2016-11-10 15:04] brentleyjones commented on #28
Cucumberish is our last CocoaPods dependency for our UI tests. Supporting Carthage would be awesome!

[2016-11-15 15:06] Ahmed-Ali commented on #28
I know I am too late to respond to that, but I will do my best to get it sorted out asap.
Apologises guys!

[2016-11-18 18:02] cepages opened #29 "Escape characters"
This is one of my scenarios:

[code]

`can+2@company.com` is written in the field instead `carlos+2@company.com`

![screen shot 2016-11-18 at 18 01 05](https://cloud.githubusercontent.com/assets/5259830/20440698/0a74a942-adb9-11e6-8019-8561448fd086.png)

Any ideas?

[2016-11-25 08:50] dgommers commented on #28
Unfortunately, I don't have any experience with Carthage (yet). Otherwise I would have fixed it. @ollitapa are you be able to tell us what needs to be added/changed?

[2016-11-27 15:27] Ahmed-Ali commented on #29
how do you define the matching step?

[2016-11-27 18:59] Ahmed-Ali commented on #28
I have added the support for Carthage (still on develop at this moment) and working now on the documentation to clarify the installation steps.

Thanks guys for your support!

[2016-11-27 18:59] #28 closed

[2016-11-27 20:36] Ahmed-Ali commented on #28
It is now on master. Please check it out and let me know if you have any feedback.
Make sure not to miss this step:
[code]

[2016-11-28 09:30] cepages commented on #29
It fits with the common one in CommonStepDefinitions.swift:

[code]

[2016-11-28 09:44] Ahmed-Ali commented on #29
I tried to reproduce it, but here is what I get in the matching step definition
<img width="1388" alt="screen shot 2016-11-28 at 10 43 54 am" src="https://cloud.githubusercontent.com/assets/5157350/20663395/a7273552-b557-11e6-8471-e1d1ccf977a3.png">

It seems to be working fine with me

[2016-11-28 09:47] Ahmed-Ali commented on #29
mm, I think I might be able to guess why. Does the text field has auto-correct enabled? if so, that might be the reason. It has nothing to do with the step or its definition, it is just the auto correction :)

[2016-11-28 21:09] dgommers opened #30 "Including release notes in Github"
Usually I directly open up the [Releases tab](https://github.com/Ahmed-Ali/Cucumberish/releases) to see what is new in the latest version. However, when I manually opened up the diff between v1.0.4 and v1.0.5, I found out that there is an actual [CHANGELOG.md](https://github.com/Ahmed-Ali/Cucumberish/blob/master/CHANGELOG.md).

Can we start using Github's native tab to be consistent with other pro

[2016-11-29 08:25] #29 closed

[2016-11-29 08:35] Ahmed-Ali commented on #30
I believe that will make it much easier and more accessible!
Will update the latest two releases and will make sure the same is applied to future releases.

Thanks Derk!

[2016-11-29 08:37] #30 closed

[2016-11-29 10:05] dgommers commented on #30
Looks good, thanks.

[2016-11-29 16:04] brentleyjones opened #31 "Include and Exclude tags don't consider scenarios"
`parserFeaturesInDirectory:fromBundle:includeTags:excludeTags:` only looks at the tags at the feature level. The correct behavior should be that it looks at all of the scenarios, since a tag at the feature level is just shorthand for applying the tag to all of the scenarios under it.

Currently, if a tag only exists on a scenario, like `@Skip`, it's not considered.

[2016-11-29 16:23] brentleyjones commented on #28
I'll be checking this out soon. Thanks! 🎉

[2016-11-30 08:55] ollitapa commented on #28
Seems to work for me! Thanks! 🎈

[2016-12-01 14:19] Ahmed-Ali commented on #31
mmm, interesting one!
You are right that adding a tag to a feature, is as adding it to every scenario of that feature. I believe this is the current behaviour.

The other one you are suggesting is, let's say I have the following feature
(I am trying to think out loudly with the following and to make sure we are on the same page for the desired behaviour)

`
Feature: My Feature
@current
Scenario: M

[2016-12-01 15:07] brentleyjones commented on #31
In your second example the scenario has `@skip` and `@current`. Per the rules of include and exclude, it will first include it per the `@current`, then it will remove it per the `@skip`. I see no ambiguity. Right now that scenario _does_ have both (since you correctly give all scenarios the tags of the feature), the filtering just doesn't work on it yet.

So, to recap, the only defined behavior wo

[2016-12-01 15:19] Ahmed-Ali commented on #31
I agree with that, going to get it done as soon as possible

[2016-12-01 19:22] bartpowers opened #32 "Where do I add the objc.m file?"
I am interested in trying out your cucumber solution.  I installed the framework via carthage into a swift test target.

but I am getting the following error:
CucumberishInitilizer.m:16:6: error: use of undeclared identifier 'CucumberishInitializer'; did you mean 'CucumberishInit'?
CucumberishInitilizer.m:16:6: error: bad receiver type 'void (*)()'

I am having trouble getting this up and running

[2016-12-01 19:31] dgommers commented on #32
Maybe this helps:

1. Ensure you have the `CucumberishInitializer` swift file.
2. This file needs to be in the same target as the Objective-C m file.
3. If thats all right, it might be that your class/method is not exposed as Objective-C interface. Prefix the Swift class with @objc to make it available.

If not, please share your target setup and file contents.

[2016-12-01 19:41] Ahmed-Ali commented on #32
Beside the suggestions Derk suggested, have you imported the the swift header file?
By default the swift header file will be *TestTargetName*-Swift.h

[2016-12-01 21:28] bartpowers commented on #32
THanks for the quick responses!  I found my problem.... the default swift header file wasn't the same as the targets name.  I thought it was MX-Tests-Swift.h... turns out it was MX_Tests-Swift.h

[2016-12-01 21:29] #32 closed

[2016-12-01 21:37] Ahmed-Ali commented on #31
The changes has been pushed to develop branch.
I have tested all the scenarios I can think of, it would be nice if you have sometime to check it out and tell if you found something that seems wrong.

In short the changes will apply the exclusion on the feature level (since all scenarios will inherit the excluded tags anyway), but in case we are trying to match the including tags, we will apply thi

[2016-12-02 14:37] brentleyjones commented on #31
But what if my feature doesn't have `@skip` but my scenario does have `@skip`, will all the scenarios under the feature _except_ the one with `@skip` be run? That's why even exclusion needs to happen at the scenario level. We can use the feature level to do a quick exclusion, but it needs to do a second pass on the scenario level as well.

I'll take a look at what you have and test it as well.

[2016-12-02 14:38] brentleyjones commented on #31
Seems you are doing what I said above, I just read you wrong. I'll get to testing it now, thanks!

[2016-12-02 21:24] brentleyjones commented on #31
Didn't get to confirm this today, will by EOD Monday.

[2016-12-02 22:01] brentleyjones commented on #31
`CCIFeaturesManager.m:113` should be `NSMutableArray * matchingScnarios = [NSMutableArray new];`.

[2016-12-03 02:19] Ahmed-Ali commented on #31
Great catch! Fixed.

[2016-12-04 02:47] Ahmed-Ali commented on #31
I have covered this behaviour in the CucumberishTest target and pushed it to master.
I will close the issue for now, and if you found any reason to re-open it, please do.

Thanks a lot @brentleyjones for the help!

[2016-12-04 02:47] #31 closed

[2016-12-06 19:37] brentleyjones opened #34 "Support changing `prettyNamesAllowed` for feature and/or scenario"
I'm currently using `prettyNamesAllowed` and really like it. I've recently started using xcpretty and ran into an issue: https://github.com/supermarin/xcpretty/issues/256

I'm wondering if we can split this bool into two, to allow for me to continue to have pretty names for the the suite names but have matchable names (non-pretty) for the test cases.

[2016-12-06 19:39] brentleyjones opened #35 "Option for changing/disabling class prefix"
Currently we prefix the test case names with `CCI`/`CCI_`. Can we have an option to disable that prefix and/or change it? For our use case we only use Cucumberish so we don't need the prefix, and it would make our reports look cleaner without them.

[2016-12-06 20:03] Ahmed-Ali commented on #34
I believe this should be easily doable, and I also agree it should be implemented. Going to give it a try.

[2016-12-06 20:25] Ahmed-Ali commented on #34
The fix pushed to develop branch and will be included in the release.
Thanks man for your support!

[2016-12-06 20:25] #34 closed

[2016-12-06 20:27] Ahmed-Ali commented on #35
The prefix was added in the first place to avoid name conflicts with other existing classes.
I don't think disabling it completely is safe enough, but I will make it a variable so you can change it.

[2016-12-06 20:38] Ahmed-Ali commented on #35
Pushed to develop and will be in master with the upcoming release.
See the featureNamesPrefix property of Cucumberish

[2016-12-06 20:38] #35 closed

[2016-12-06 20:52] brentleyjones commented on #35
Cool. The change will work for us, since we will set it to `@""`, but for existing users it will be a slight regression, since it won't have a space or `_` (depending on pretty names setting).

[2016-12-06 20:59] Ahmed-Ali commented on #35
Unless they have a custom report tool that makes use of the existing prefix (which is very low probability, I think), it should not be an issue. And if it turns out to be an issue, the fix should be easy to do.

For your case, I would recommend using an empty space, as it doesn't affect the beatified names you want and it helps avoid confusion. Of course this is completely up to you.

[2016-12-14 21:19] brentleyjones opened #36 "Support subdirectories"
Currently if the feature directory has subdirectories the features are not picked up. When you have lots of feature files is makes sense to be able to organize them on the filesystem in subdirectories,

[2016-12-14 22:01] brentleyjones opened #37 "`beforeStart` and `afterFinish` should run in their own test cases"
Currently `beforeStart` will run in the first test case, and `afterFinish` will run in the last test case (I think, I don't have an afterFinish hook). If these are long running (like they are for our setup) it will incorrectly inflate the running time of those test cases. If instead they became their own test case (like `[Hooks beforeStart]` and `[Hooks afterFinish]`) they will be reported on sepa

[2016-12-22 19:36] brentleyjones commented on #37
I'm going to take a stab at creating a PR for this.

[2016-12-22 21:53] brentleyjones commented on #37
Before this I did #38. After that I'll think about this some more.

[2017-01-04 17:51] brentleyjones commented on #36
When I get the chance I'll try to take a stab at creating a PR for this one.

[2017-02-02 23:18] vincentkjj commented on #36
@brentleyjones any news with this one? We are in need of this function too and I am thinking to give it a try if you haven't yet.

[2017-02-02 23:19] brentleyjones commented on #36
I haven't yet. Been on leave with a newborn. It will be a couple weeks at least before I could get back to this.

[2017-02-04 15:38] Ahmed-Ali commented on #36
Congratulations @brentleyjones for the newborn :)
Subdirectory support is now available on develop and will be on master soon.
Thanks!

[2017-02-04 15:38] #36 closed

[2017-02-04 15:45] Ahmed-Ali commented on #37
I would recommend reporting its crash as unhandled crash, better than adding two additional test cases. Because the "beforeStart" and "afterFinish" are not related to the features; they like the setup and tearDown in unit testing. Which doesn't show up anywhere in the execution report or test navigator.

[2017-02-07 16:42] cyoungrbh opened #40 "Implement using data table when calling a step within a step definition"
I'd like to be able to call a step within a step definition, but one that uses a data table. I've seen examples in Cucumber and Ruby, but not for this framework. Something similar to below, possibly?

            self.performStep("I enter this data into the following fields:", in: dataTable(%{
          | userValue | field   |
          | myName   | input field  |)

[2017-02-07 16:51] Ahmed-Ali commented on #40
We have a function called step (or SStep in Swift) which you can use for that. However, the trick will be to construct the matching string.
I would recommend extracting the step implementation into a well formed method signature, and call that method instead. Because writing static strings inside your implementation might add extra confusion anyway.

[2017-02-07 16:53] brentleyjones commented on #40
I think the issue @cyoungrbh is trying to say is there is no way to call `step` with a data table, since it's not part of the matching string. Seems `step` needs to take a data table as an optional argument.

[2017-02-07 20:07] cyoungrbh commented on #40
Exactly, thanks Brentley.

[2017-02-08 16:14] brentleyjones commented on #40
@Ahmed-Ali I looked into this as well and I agree with @cyoungrbh, it would be nice to be able to pass an array of arrays just like we get when a step definition is invoked by a scenario.

[2017-02-12 19:18] #37 closed

[2017-02-12 19:19] Ahmed-Ali commented on #40
I will add this into consideration with the upcoming release (not the immediate soon-to-be-released version though).
For now I will leave this issue open to avoid overlooking it.

Thanks guys!

[2017-02-15 07:06] bbqsrc opened #41 "Contextual "And" handling"
Cucumberish currently parses the gherkin literally, so it makes it hard for me to compose tests where a test might be written `Given I am in a state` or `And I am in a state`. I will have to duplicate the entry with a `Given("I am in a state")` and an `And("I am in a state")` as the `And` will never find the `Given`.

Other cucumber implementations understand the context of the `And` based on the

[2017-02-15 10:58] Ahmed-Ali opened #42 "JSON output documentation"
We need to document the usage of the CIJSONDumper

[2017-02-24 15:43] lutzj82 commented on #42
I noticed that the output file is not created when I run my tests.  the condition that checks if scenariosRun == scenarioCount is never satisified b/c scenarioCount is only incremented after the function call to invokeScenario, which means its one behind.  I made a change locally that just incremented the counter prior to invoking the scenario, so if you want I can write up a few tests and create

[2017-02-24 15:45] Ahmed-Ali commented on #42
Thanks a lot @lutzj82 for your input. It will be nice if you can help with that.
And I will do my best to get the documentation issue resolved asap. It should help avoiding unneeded confusion.

[2017-02-24 19:13] brentleyjones commented on #42
I would be weary of moving the `scenariosRun` increment. It's the way it is to support the `beforeHook` and `afterHook` calling.

[2017-02-27 13:43] lutzj82 commented on #42
@brentleyjones, The only change would be in the position where scenarioCount, not scenariosRun would be incremented

[2017-02-27 19:36] brentleyjones commented on #42
:+1:

[2017-03-02 09:32] plasmabal opened #46 "Scenario fails silently if Chinese is used"
I have a test case, which contains Chinese for matching label, fails silently.  It crashes at https://github.com/Ahmed-Ali/Cucumberish/blob/c66b3f2414ee10a7fb929495e79ca9a63cef528e/Cucumberish/Core/Managers/CCIStepsManager.m#L113 .

The reason is `searchRange` contains incorrect length.  With `[step.text lengthOfBytesUsingEncoding:NSUTF8StringEncoding]`, the length of the string in UTF8 encoding i

[2017-03-03 15:03] slozo opened #47 "*** Assertion failure in -[XCTestContext addUIInterruptionMonitorWithDescription:handler:]"
There's a problem with adding `UIInterruptionMonitor` in iOS UITests using Swift.

Steps created in Cucumberish do not have `XCTestContextScope` and this causes an assertion.

Here's what I mean:
Before running `addUIInterruptionMonitor(withDescription: "") { ...}` I have this in my `XCTestCase`

|>XCFit.XCFit	XCFit.XCFit
 -|>XCTest.XCTestCase	XCTestCase
  --|>baseXCTest@0	XCTest
   ---|>_internal

[2017-03-03 17:01] slozo commented on #47
OK, I have to run `addUIInterruptionMonitor` on original `XCTestCase` from `implementation.additionalContent`

[2017-03-03 17:01] #47 closed

[2017-03-10 07:31] dmortim3 opened #48 "Don't run a specific scenario if marked with "manual' tag"
Looking at if Cucumberish can exclude a scenario from a test if it has a specific tag, for example "Manual". Any thoughts on how this can be achieved? If this is not possible i'll look at adding it. Thanks.

[2017-03-13 13:55] brentleyjones commented on #48
You can exclude tags in the `executeFeatures` method.

[2017-03-13 15:35] dmortim3 commented on #48
I actually looked at this a couple of months ago and at the time this was not possible. After upgrading to the latest version both include and exclude options by tag are no possible.

Thanks for the awesome port.

[2017-03-13 15:35] #48 closed

[2017-03-16 15:02] EricDeRegter opened #49 "CucumberishInitializer and CucumberishSwiftInit not recognised in .m file"
I was following the wiki regarding the installation using cocoapods. Everytime I tried to run the tests the .m file was giving me errors on line `[CucumberishInitializer CucumberishSwiftInit];` I think they didn't recognise `CucumberishInitializer` and `CucumberishSwiftInit`. Making them both `public` fixed it. Maybe you could update the wiki?

[code]

[2017-03-20 08:57] Gerard-A opened #50 "JSON output, Scenario outlines are not counted in Jenkins Cucumber Report"
We are using the Jenkins Cucumber Report plugin (https://github.com/jenkinsci/cucumber-reports-plugin) to generate a html report from the Cucumberish JSON output. We use one feature file to  execute scenarios on iOS Using Cucumberish and Android using Cucumber-JVM. The feature file contains Scenarios and Scenario Outlines.
I noticed that the number of tests in the iOS results are lower than in the

[2017-03-20 15:37] ereynolds-agamatrix commented on #50
Hi, Gerard,

This is a good catch. I will take a look at this issue. We had originally set the type to "scenario_outline" thinking it would be useful to have outlines be recognized as its own type but we had not considered Jenkins looking for the "scenario" for parsing purposes.  It should be an easy fix.

-Erik

[2017-03-29 06:23] dipikasrivastava16 opened #52 "addUIInterruptionMonitor gives an exception Internal error: no current scope to add handler"
When I am trying to interact with a system dialog which comes up in the application before accessing contacts, i try to addUIInterruptionMonitor before the system alert is expected and write a handler for interacting with the same.
On run time i get the exception:  caught "NSInternalInconsistencyException", "Internal error: no current scope to add handler Permission Dialog to."

Has anyone else fa

[2017-03-29 13:36] brentleyjones commented on #52
Yes. It's because each scenario is a new `XCTestCase`. No real solution yet that I know of.

[2017-04-03 06:08] dipikasrivastava16 opened #53 "Adding sequence to feature files"
I have got into a need where I want to execute my feature files in sequence or say in a specific order to reduce the execution time.
I tried calling executeFeatures twice with the specific tags like below but the scenarios in each feature files are executed in a jumbled manner and feature execution is also not in sequence.

        Cucumberish.executeFeatures(inDirectory: "Features", from: bundle,

[2017-04-04 08:37] Wayne-Morgan opened #54 "Multiple Examples tables for a scenario outline"
I supply different Examples to the same scenario based on tags.  The tags may be for different test durations (a brief daily test vs a more comprehensive weekly test), or for platforms with different capabilities (desktop platform may support different file formats to android platform).  I already use this functionality on other platforms, and would like to use the same feature files on iOS to red

[2017-04-05 08:06] onereddogmedia commented on #47
Hey, you mean something like the following:
`            let xctest = userinfo?["XCTestCase"] as! XCTestCase
            let handler = xctest.addUIInterruptionMonitor(withDescription: "Permission Dialog") { (alert) -> Bool in
                if (alert.buttons["Allow"].exists) {
                    alert.buttons["Allow"].tap()
                } else if (alert.buttons["OK"].exists) {

[2017-04-05 08:21] slozo commented on #47
That's right.
However you can get original XCTestCase with NSString constant called `kXCTestCaseKey` instead of writting `"XCTestCase"` as a dictionary key.

[2017-04-06 04:29] TitouanVanBelle opened #56 "Number of executed tests is wrong in the console"
When running the tests for the following .feature file that contains 1 scenario the console prints
[code]

*Feature*
[code]

This seem to be counted as a Test Case too
[code]

Not a big deal but I still think it should be fixed if it is possible.

[2017-04-06 04:32] #56 closed

[2017-04-06 20:41] FoxJon opened #58 "Unable to call 'before' hook using Swift 3.1"

[2017-04-07 02:36] FoxJon commented on #58
This happens when Cucumberish is installed manually

[2017-04-07 07:45] Wayne-Morgan commented on #54
I think I have a solution for this.  Just reviewing internally before submitting a PR.

[2017-04-07 14:52] brentleyjones commented on #56
There is a property for this, which you probably already found: `fixMissingLastScenario`

[2017-04-11 00:06] #52 closed

[2017-04-11 00:06] #53 closed

[2017-04-18 03:42] TitouanVanBelle commented on #41
The only solution the moment is to write something like this

[code]

But I agree that this makes the step definition less readable. I would suggest the following implementation

[code]

And I would also deprecate the And() method.

[2017-04-18 03:50] TitouanVanBelle opened #61 "Access current test case within step definition"
How can I access the instance of XCTestCase that is currently running in order to call methods like the following?

[code]

[2017-04-18 23:39] brentleyjones commented on #61
It's passed in the userInfo.

[2017-04-20 08:09] #61 closed

[2017-04-20 17:20] sbt007 opened #62 "tvOS Support"
Currently the podfile does not allow installation if it is a tvOS project.
Adding something like s.tvos.deployment_target = "10.0" to the podspec should solve this.

I personally do not think that any other special changes to Cucumberish is needed, but have not looked deeper. I was able to run the sample tests provided on a Apple TV simulator. XCode/XCTest supports both iOS and tvOS.

[2017-04-24 20:38] brentleyjones commented on #50
This is merged into `develop` @Gerard-A. Let us know if you run into any issues. We should cut a release sometime next week with the changes if everything is good.

[2017-04-25 18:19] brentleyjones commented on #62
I'll look into this next week, see if we can update both the Carthage and CocoaPods to support tvOS.

[2017-05-04 13:51] brentleyjones commented on #49
I added `public` to the Wiki page. Thanks for opening the issue @EricDeRegter!

[2017-05-04 13:51] #49 closed

[2017-05-04 13:53] brentleyjones commented on #41
I would love to have the contextual support as well. I've personally implemented helper methods that essentially does what @TitouanVanBelle does above with `Match()`.

Anyone willing to take a shot at implementing it in a PR?

[2017-05-04 13:54] brentleyjones commented on #58
I'm using Cocoapods currently, so I don't see this. @FoxJon, by manual install, do you mean Carthage?

[2017-05-04 13:55] brentleyjones commented on #54
This is merged into develop @Wayne-Morgan. Let us know if you run into any issues. We should cut a release sometime soon with the changes if everything is good.

[2017-05-04 14:13] FoxJon commented on #58
I was doing the manual install following the instructions in the wiki:
https://github.com/Ahmed-Ali/Cucumberish/wiki/Install-manually-for-Swift <https://github.com/Ahmed-Ali/Cucumberish/wiki/Install-manually-for-Swift>

 I ended up just installing using Cocoapods instead and all is good.

[2017-05-04 14:15] brentleyjones commented on #62
@sbt007 I added support for tvOS to both Carthage and CocoaPods, in the develop branch. Let me know if everything works for you. If so, it should go out in a release sometime soon.

[2017-05-04 14:20] sbt007 commented on #62
Thanks @brentleyjones - I will try it out.

[2017-05-05 03:12] TitouanVanBelle commented on #41
Took a shot a it this morning. Let me know what you think.

[2017-05-14 03:29] pawankums opened #64 "<Target>-Swift.h file not found error in obj C .m file"
I followed all the steps as mentioned. But the import <target>-Swift.h statement in the .m file, is giving the file not found error.
Could you please let me know how to resolve it.

[2017-05-15 15:58] dgommers commented on #64
Are you using Swift in your project?

[2017-05-16 19:55] pawankums commented on #64
yes, i am using swift.

[2017-06-08 19:14] nunof opened #65 "Autonomous tests"
Hi,

Calabash framework can be linked to an app and that will enable the embedded HTTP server thus enabling instrumenting the app on the physical device.

Can Cucumberish be built into another (testing) app to be installed on the same device and then connect to Calabash http server to run the tests completely autonomously?

Thanks

[2017-06-09 10:46] IGZJoseAngelCuadrado opened #66 "JSON output"
Hi!

I'm creating a project with several features files and its corresponding steps in Swift. The integration is OK and I have achieved that all tests passed. However, when I try to get the results report, I discover that this report is not generated.

In more detail, I have 3 feature files, and 3 swift files with steps definition, and I call these definitions from my cucumberish initializer. Debu

[2017-06-09 11:11] alexruperez commented on #66
+1

[2017-06-12 00:30] pawankums opened #67 "Adding steps in the execution report"
@Ahmed-Ali Thanks for your framework. Is there any way by which we can list down the steps as well in the execution report. Right now i am using Xcpretty which is listing only feature and scenario names not the step names. Is there any feature?

[2017-06-12 04:31] TitouanVanBelle commented on #67
Not sure it's possible at the moment but this could be implemented using Xcode 9's new activity feature:

[code]

See https://developer.apple.com/videos/play/wwdc2017/409/ (26:52)

[2017-06-12 14:34] IGZJoseAngelCuadrado commented on #66
Ok, I fix the issue. Finally, the problem was with one of my test, that the code couldn't find the button. However, there will be a review when Xcode finish suddenly the tests. Maybe, with the flag "fixMissingLastScenario" activated and checking if this flag is activated and scenarios run is equal to count of scenarios - 1, in this case, write the report.

[2017-06-12 14:34] #66 closed

[2017-06-13 19:12] dgommers commented on #65
Not sure if I understand you correctly: You would like to run Cucumberish on a separate iOS app and have the step definitions to interact with the Calabash HTTP server that is embedded in another app, correct?

Cucumberish gives freedom to implement the steps as you prefer. This means it could perform a HTTP request if you program it like that. However, we find it beneficial that Cucumberish is wo

[2017-06-13 19:13] dgommers commented on #64
Can you share an example project where you face the same issue? Then I might be able to indicate what is causing the error. Thanks.

[2017-06-13 19:44] nunof commented on #65
Use case is distribution of iOS application and companion testing app to collaborators of large institution so that we can skip the moving of all device types to central location. We already have Android solution now we need iOS one.

I believe cucimberish needs implementation of endpoint device that cucumber has, right?

Thanks.

[2017-06-15 04:05] TitouanVanBelle commented on #41
@brentleyjones Any idea when this will be released?

[2017-06-15 04:15] TitouanVanBelle opened #68 "Support for dry-run to print undefined steps"
It would be nice to be able to scan through all the scenarios to make sure all steps are defined.

Given the following scenario
[code]
When I set `Cucumberish.instance().dryRun` to `true`
And I run the tests
Then it should pass and print the following in the console
[code]

[2017-06-15 04:37] TitouanVanBelle opened #69 "Step matching definition that only contains a part of the step's name"
I have the following scenario

[code]

When the first step is executed it matches the following definition which only partially contains the step's name:

[code]

Is that normal or is it a bug? This only way around it at the moment is to write the step definition with ^ and $

[code]

[2017-06-15 13:43] brentleyjones commented on #68
That's a wonderful idea! Contributions are welcome.

[2017-06-15 13:43] brentleyjones commented on #69
Since it uses regular expressions, you need to use `^` and `$`. I wouldn't count it as a bug, right now.

[2017-06-15 13:44] brentleyjones commented on #41
I'll work with @Ahmed-Ali on getting a release ready.

[2017-06-16 06:27] #69 closed

[2017-06-16 14:43] brentleyjones commented on #62
This has been released in v1.2.0. Cocoa pods will be updated as soon as @Ahmed-Ali pushes it to trunk.

[2017-06-16 14:43] #62 closed

[2017-06-16 14:44] brentleyjones commented on #50
This has been released in v1.2.0. Cocoa pods will be updated as soon as @Ahmed-Ali pushes it to trunk.

[2017-06-16 14:44] #50 closed

[2017-06-16 14:44] brentleyjones commented on #41
This has been released in v1.2.0. Cocoa pods will be updated as soon as @Ahmed-Ali pushes it to trunk.

[2017-06-16 14:44] #41 closed

[2017-06-16 14:44] brentleyjones commented on #42
This has been released in v1.2.0. Cocoa pods will be updated as soon as @Ahmed-Ali pushes it to trunk.

[2017-06-16 14:44] #42 closed

[2017-06-16 14:44] brentleyjones commented on #54
This has been released in v1.2.0. Cocoa pods will be updated as soon as @Ahmed-Ali pushes it to trunk.

[2017-06-16 14:44] #54 closed

[2017-06-20 08:44] TitouanVanBelle opened #71 "Add possibility to use the around hook without tags"
Add the possibility to add an around hook around every scenarios no matter what tag they have.

[code]

[2017-08-02 20:31] brentleyjones commented on #68
@TitouanVanBelle Should undefined steps in the dry run be a test failure? I think it would be good to fail each scenario that has undefined steps. That way you can do a dry run, if there are no failures you can do the real run. On failures you can skip the long run, which can speed up people's CI processes.

[2017-08-09 10:30] TitouanVanBelle commented on #68
Could be an idea yeah, but I don't really see the dryRun as a feature that you would use on a CI. I personally use it to implement new scenarios but as soon as the code hit the CI I would assume all the steps are already defined.

[2017-08-09 19:23] brentleyjones commented on #68
On our team we have people writing the feature files before other people write the step definitions. We use tags to make sure scenarios with incomplete step definitions are not run. Sometimes they forget the tags and we have to wait until the whole run is done to see that a failure was just because of a missing step definition.

Ideally we would do a step definition check as part of a normal run a

[2017-08-10 14:23] TitouanVanBelle commented on #68
Ah ok got it. Then yeah, it would be good to fail the run if there are undefined steps.

[2017-08-15 14:38] brentleyjones commented on #68
Released as part of 1.3.0. 🎉

[2017-08-15 14:38] #68 closed

[2017-08-15 14:38] brentleyjones commented on #67
Released as part of 1.3.0. 🎉

[2017-08-15 14:38] #67 closed

[2017-08-15 14:39] brentleyjones commented on #71
Resolved in #74.

Released as part of 1.3.0. 🎉

[2017-08-15 14:39] #71 closed

[2017-08-16 10:53] jerseysu commented on #64
I am suffering the same issue too.

[2017-08-16 11:59] TitouanVanBelle commented on #64
You need to make sure *Define Module* Build Setting is set to *Yes* for your UI Testing target.

[2017-08-16 13:42] niamh-power commented on #64
I'm getting similar, but with a `No known class method for selector CucmberishSwiftInit`

[2017-08-16 13:56] TitouanVanBelle commented on #64
You need to add @objc before the class and method declaration

[2017-08-16 13:58] niamh-power commented on #64
brill, thanks that worked :) Could be worth updating the readme to show this :D

[2017-08-17 12:39] TitouanVanBelle commented on #64
@brentleyjones You think you could edit the wiki to mention the two things above.

[2017-08-18 02:41] jerseysu commented on #64
Hi @TitouanVanBelle
Thank you for advice, I've solved this problem :D

[2017-08-22 13:10] dgommers commented on #65
Cucumberish can run tests from Xcode but not from a running app. You can fork and develop support for it, but it is not a common use case for this project. Doing so may require some effort as you need to get rid of the XCTest dependency (not available in normal app targets).

My recommendation is to look for an alternative solution.

[2017-08-23 13:57] brentleyjones commented on #64
So, I don't have `@objc` in my `CucumberishInitializer`, so I'm not sure I need to add that? I added the  `Defines Module` part though.

[2017-08-23 14:02] TitouanVanBelle commented on #64
Might depends on the version of Swift, or Xcode. But maybe it could make it to the troubleshooting section?

[2017-08-24 10:38] niamh-power commented on #64
We were using Swift 3 with the Xcode beta if that helps

[2017-08-30 13:26] louismza opened #79 "Why has "And" been deprecated"
Thanks for a cool library. The MatchAll function doesn't recognize when you use an "And" in your feature file. I see that "And" has been deprecated too. This doesn't make sense to me, can you please explain what the thinking behind this is?

[2017-08-30 14:11] brentleyjones commented on #79
`And` is now implicit. If you implement a match for `Given` it will also work for `And`. If you are finding that `MatchAll` isn't matching for `And`, that's a bug (cc: @TitouanVanBelle).

[2017-08-31 07:22] louismza commented on #79
Can I fix the bug and send a pull request?

[2017-08-31 07:35] TitouanVanBelle commented on #79
Can you provide more information about the scenario you're trying to run?

[2017-08-31 07:58] louismza commented on #79
If you have an And after a Given, and you implement the And step with MatchAll it doesn't recognize that the step exists; for example:
[code]
And you implement the step with MatchAll like this:
[code]
It doesn't recognise the step.

I see that the MatchAll function doesn't have Given:

[code]

[2017-08-31 09:19] TitouanVanBelle commented on #79
Yes, that's what I thought. Then feel free to create a PR adding the Given call in the MatchAll function. Unless there was a reason in the beginning for not adding it? @brentleyjones

[2017-08-31 10:32] IGZmanuelMartinVivaldi opened #80 "Incorrect "name" in "Scenario outline""
I noticed that in the JSON output results file, the example's data is included in the Scenario Outline 'name' (as is required in the 'id' field), but in the documentation I found, just the scenario name is used (without examples data):
https://relishapp.com/cucumber/cucumber/docs/formatters/json-output-formatter#scenario-outline
http://rmpestano.github.io/cukedoctor/cucumber/cucumber-documentation

[2017-08-31 11:05] IGZmanuelMartinVivaldi opened #81 "Incorrect 'id' in Scenario Outline JSON output results"
I noticed that in the JSON output results file, the Scenario Outline 'id' field includes the 'EXAMPLES' data separated by a '-' character, but looks like it must be a ';'
https://relishapp.com/cucumber/cucumber/docs/formatters/json-output-formatter#scenario-outline-expanded

[code]
But with Cucumberish returns this output:

[code]
Instead of:
`        "id" : "an-outline-feature;my-scenario;example

[2017-08-31 14:59] brentleyjones commented on #79
It's just a bug. A PR would be wonderful, thanks.

[2017-09-11 03:32] jerseysu commented on #64
Hi all,
Sorry to disturb again, I can use above setting to solved this problem, but when I migrate it to XCode beta, there is another error prompt:
`No known class method for selector CucumberishSwiftInit`

Is anyone can help on it, Thanks.

[2017-09-18 05:39] paroliav opened #82 "Real iOS 10 device throws Linker command failed error"
I tried running the tests on a real iPhone with iOS 10.2.1 and I get the Linker command failed error, but I do not get this error for a simulator of same iOS

Apple Mach-O Linker (ld) Error Group
clang: error: linker command failed with exit code 1 (use -v to see invocation)

Is this a bug or known issue? Can it be fixed?

[2017-09-25 09:04] bartzet commented on #64
@jerseysu you have the solution in above's comments for your error

[2017-09-25 09:54] TitouanVanBelle commented on #64
It might be that `CucumberishExampleUITests-Swift.h` doesn't exist yet or it might have been erased somehow. You should try to comment the following line and then build
[code]
Then uncomment the line and try to build again. Any case you should try to make sure that `CucumberishExampleUITests-Swift.h` does exist and does offer access to `[CucumberishInitializer CucumberishSwiftInit]`

[2017-09-28 09:43] bartzet opened #83 "Lexical or Preprocessor Issue .h file"
Hi,

After setting up Cucumberish in the project and trying to run the first test on Xcode 9 I'm getting this error:

![lexical or proprocessor issue](https://user-images.githubusercontent.com/23279455/30960046-c77f8f26-a439-11e7-96a1-f1956e4951ac.png)

This file is definitely located in the project in Supporting Files folder.

On Xcode 8.3 I'm not getting this error.

Any ideas what may be the ca

[2017-09-28 12:21] #83 closed

[2017-09-28 16:09] bartzet opened #84 "No such module 'Cucumberish'"
I am getting this error `No such module 'Cucumberish'`

![image](https://user-images.githubusercontent.com/23279455/30977319-231da5a4-a46f-11e7-981b-6239f6c6885c.png)

Cucumberish is successfully installed via Pods and Project builds fine as well. Cleaned the project , deleted derived data and still no luck.

Anyone experienced that issue?

[2017-09-29 20:03] dgommers commented on #84
Have not experienced it before. Are you sure the Cucumberish dependency is added to the same target as the code? It doesn't look like it.

Maybe you can share your Podfile or even project file?

[2017-10-10 15:38] Vinoth7 opened #86 "Accessing the JSON reports"
Hi all,
I have managed to integrate cucumberish into my project successfully and can't wait to use. Now I am looking to extract the generated **JSON** reports out from iOS Simulator to report as HTML in Jenkins. As it stored in `NSDocumentDirectory` its bit hard to get out. I am not sure if there is an easy way of extracting the generated report.

Sorry for creating this as an issue. I couldn't fi

[2017-10-10 21:14] #86 closed

[2017-10-10 21:15] Vinoth7 commented on #86
Sorry it’s my bad. Can able to use project base path to store the generated JSON report.

[2017-10-11 20:13] patmalt opened #88 "Not all the test are run in CucumberishFeatureDefinintion"
7_dry_run.feature is preventing all of the tests to be run.

Steps to reproduce:
1. Add a CCIAssert(false... to the “Then the And statement should be defined” step of 6_contextual_and_handling.feature
2. Run the tests, observed no failures
3. Delete 7_dry_run.feature
4. Run tests again, observe failure from added assertion

[2017-10-16 17:42] Oscar2892 opened #89 "Features dont appear on the test navigator - Xcode 9"
So I installed cucumberish in Xcode 9, and i can run all the tests but they never appear listed on the test navigator and i cant run them individually. In Xcode 8, I dont have this problem. Am I missing something??

[2017-10-16 21:15] codiophile commented on #89
I have the same problem. Was just about to report it. Thanks for saving me the trouble.

[2017-10-16 21:28] codiophile commented on #64
I also got the `No known class method for selector CucumberishSwiftInit` error. Would be nice if someone could add `@objc` to the wiki. It's a shame that github doesn't support pull requests for wikis.

Also, putting all step definitions in the same file and same method doesn't seem very nice. I think the documentation should encourage a setup where the step definitions are in their own files.

Fi

[2017-10-17 15:58] #84 closed

[2017-10-18 21:41] codiophile commented on #89
This seems to have been fixed in Xcode 9.0.1, but it still doesn't seem like you can run them individually. I'm not sure if that was working in Xcode 8, since I never tried it.

[2017-10-26 15:48] bartzet opened #90 "The step "..." is not implemented errors"
Hey,

Is there any way to tell Xcode to ignore not implemented steps of feature files to not to get The step is "..." is not implemented errors.

I have created a submodule of the repository where I store all of the feature files that have not been implemented yet. When I run Cucumberish tests I get hundreds of errors for not implemented scenarios.

Do you have any solutions you applied in your pr

[2017-11-09 06:55] TheCodedSelf commented on #79
[As per the documentation](https://github.com/Ahmed-Ali/Cucumberish/wiki/Step-Definitions):

[2017-11-09 07:31] louismza commented on #79
This doesn't refer to a left out Given. It's about MatchAll not containing And.

[2017-11-09 07:33] TheCodedSelf commented on #79
@louismza, I'm referring to the comment above:

[2017-11-09 07:38] louismza commented on #79
Oh yeah, but are we saying Given can’t have Ands?

[2017-11-09 07:42] TheCodedSelf commented on #79
I think the idea is that if And is used after When or Then, then it will be called by MatchAll. But MatchAll intentionally does not match Given, and as such, it won't match any Ands following Given.

That's my understanding of the way it works currently.

[2017-11-09 07:49] louismza commented on #79
This is limiting because you can’t reuse a step defined as a When or a Then in your Given clause.  You can argue that the And step I am implementing here is supposed to be a When step. But I am not trying to implement invalid Cucumber. All steps defined in any way match all Given, Whens, Thens and Ands in standard Cucumber.

[2017-11-09 07:50] louismza commented on #79
I mean you can’t reuse a step defined with MatchAll in a When clause.

[2017-11-09 07:50] louismza commented on #79
In a Given*

[2017-11-16 16:55] lukeredpath opened #91 "afterFinish() is not called on a dry-run"
Is there a reason for this behaviour?

I'm running the steps in dry-run mode to count the number of features with a given tag, using `beforeTagged()` to increment a counter. I only want to run this in dry run mode. I want to use `afterFinish()` to print the total but it doesn't get called.

[2017-12-06 09:00] Gerard-A opened #92 ""tags" are missing in Scenario Outline JSON output results"
I noticed that the JSON output results do not contain tags for Scenario Outlines.
Scenario example:
[code]

Scenario Outline example:
[code]

[2017-12-09 02:02] lnorr opened #93 "Carthage doesn't build Cucumberish Mac target"
Carthage doesn't build Cucumberish Mac target, but iOS and tvOS targets are fine.

Setup:
Xcode 9.2 (9C40b), MacOS 10.13.2

Steps to reproduce:

1. In the Cartfile I put:
github "Ahmed-Ali/Cucumberish"

Note that I also tried the above with specific versions 1.3.0 and 1.2.0 with the same results.

2. Then executed:
carthage update

Got this error:

*** Fetching Cucumberish
*** Checking out Cucumbe

[2018-01-05 16:27] pvinothit opened #94 "Waiting for X seconds in Then"
Hi,
I am using cucumberish for writing acceptance tests. The stuff I am testing does make API calls, which I have mocked using CustomURLProtocol.

      `Given("^the bonus code \(findWordRegex) exists$") { args, userInfo in
          addStub(XXXX) // Here i have added the stub
        }

       When("^(?:the user|they) enter(?:s)? the code \(findWordRegex)$") { args, userInfo in
          self.pro

[2018-01-08 10:10] #94 closed

[2018-01-24 12:21] georgiosantoniadis commented on #47
Even though the issue is several months old, it seems that it is still not really solved intuitively...
How do you get the original `XCTestCase` in, e.g. the `beforeStart` or the `before` block?
I am currently stuck because I cannot add an UIInterruptMonitor for a permission dialog...

[2018-01-24 12:51] slozo commented on #47
@georgiosantoniadis can you move the InterruptMonitor into step like: `Given("the app is running")` and make it as a starting point for all your scenarios? I've done that in the past and it worked. I have "WelcomeScreen" with `Given the app is running` step and later on, I'm building on top of that. For example my Login screen has the step: "Given I'm on a login screen" and it calls "Given the app

[2018-01-24 15:23] georgiosantoniadis commented on #47
I will try that. Thanks a lot for the quick response!

[2018-01-24 15:39] georgiosantoniadis commented on #52
A possible solution might be found here:
https://github.com/Ahmed-Ali/Cucumberish/issues/47

[2018-01-30 16:16] mariusbob opened #95 "How can you run the tests from command line?"
Since I want to integrate my tests with Jenkins, I was looking on the wiki page to see if there is a way of running the tests from command line but I didn't find anything.

Any suggestions?

[2018-01-31 08:58] dgommers commented on #95
Cucumberish runs in a normal test target and can be ran from like any other target using the`xcodebuild` CLI. As far as I know, there is no additional configuration needed for Cucumberish to make this work. The Apple Developer website has a good guide on [automating the Test Process](https://developer.apple.com/library/content/documentation/DeveloperTools/Conceptual/testing_with_xcode/chapters/08-

[2018-02-13 08:17] jerseysu opened #96 "How to execute single scenarios?"
I had used Cucumberish for a period, it is a good framework for Swift.

Since the test scenarios grows and I want to development quickly, is it possible to execute single scenarios only but whole feature file?

I am looking for Wiki but I didn't find the solution. Is there any suggestions for me. Thanks.

[2018-02-15 10:40] DanielAsher commented on #89
Version 9.2 (9C40b) - No tests are running. Apple doesn't seems to care about the incredible work developers are putting into disciplined modern practice. :(

/var/folders/yk/9r3nhhws2pvc191dbh7885rh0000gn/T/com.apple.dt.XCTest/IDETestRunSession-85CFB1BE-62B5-4096-B4BD-35DA99C12003/CucumberishTests-FFD0CD10-8C66-4A4C-B03E-535638475C7C/Session-CucumberishTests-2018-02-15_103519-rWsOXP.log

Test Sui

[2018-02-15 15:43] DanielAsher opened #97 "Has Xcode 9.2 has broken this project :("
#89 has not been addressed and now Xcode 9.2 refuses to run cucumberish tests altogether. Is there any solution to this?

[2018-03-02 08:52] KITSTABSherBhachu commented on #96
You could mark that scenario with a tag and then run?

[2018-03-02 14:29] dgommers commented on #97
The screenshot you posted in #89 shows that you are running them on your local Mac. For me they work once I switch to a simulated iOS device. Does that also work for you?

It looks like it is not able to find the feature files on Mac since the bundle structure is different. I am checking if there is a way to fix this up.

[2018-03-03 09:20] KITSTABSherBhachu commented on #93
Im seeing the same issue

[2018-03-05 10:10] bablujoshi11 commented on #90
## facing the same issue !

[2018-03-05 10:28] bartzet commented on #90
hey @bablujoshi11 the only solution I found for that was to add tags and exclude the scenarios from test run in CucumberishInitializer.swift

`Cucumberish.executeFeatures(inDirectory: "Features", from: bundle, includeTags: ["implemented"], excludeTags: ["not_implemented"])`

[2018-03-21 21:28] tomesm opened #99 "How to change order of test execution in Swift?"
Hi,

I am not able to figure out how to control running test in order I want, not alphabetically.
Is there any project I could look into to see how it is working in Swift? Can this be described in the wiki?

Hooks (beforeTagged, afterTagged) not helping here at all. Test/Features are always running in alphabeticall order in Swift. I am not able to manipulate with them via tags.

See CucumberishIni

[2018-04-05 08:52] ch-one opened #100 "Multiple language support for keywords"
Does Cucumberish support feature files in different languages?
E.g. instead of `Given` => `Angenommen` (german)

We saw, that the used parser `GHParser` does support it, but we don't know if Cucumberish also supports it.

[2018-04-06 14:16] pvinothit opened #101 "Running asynchronous Tests"
Hi guys,
I am using this to write acceptance tests. I wanted to test api responses.  I have mocked the networking stuff. It sends the response after x seconds. So  the asserts need to execute after x seconds in Then Step definition. How can I able to achieve it?

This is my current code

    public func wait(_ seconds: TimeInterval = StepDefiner.waitingTime, for expectationName: String = "waitForX

[2018-04-13 08:27] dgommers commented on #97
@DanielAsher is it working for you now #98 is merged?

[2018-04-13 14:57] jerseysu commented on #96
@KITSTABSherBhachu Good idea. It works for me Thanks.

[2018-05-01 19:07] idelfonsog2 opened #103 "Install instructions"
I believe there is some ambiguity of how the setup is done, I'm still trying to understand it.....

[2018-05-15 14:07] David-Grigoryan commented on #103
Same here. It's the second day I'm trying to setup and no any luck. Even simple `import Cucumberish` is not working after pod install and I'm not talking for rest.

[2018-05-15 16:00] idelfonsog2 commented on #103
hi @David-Grigoryan I found this sample from another person I just "replicated" his project into mine and it's working https://github.com/novoda/ios-demos/tree/master/Cucumberish-demo. I'll try to make a PR for the README.md this weekend based on what I learned from this user implementation

[2018-05-16 07:26] David-Grigoryan commented on #103
@idelfonsog2 that would be great! Thanks a lot.
Meanwhile, I'll try the demo project you pointed out.

[2018-05-16 09:59] jerseysu commented on #103
I've write a project to integrate Cucumberish with XCUITest also. Both of cocopods and Carthage
with Swift works on this projects. Please refer to follow link:
https://github.com/jerseysu/xcuitest_cucumberish

Besides, the Carthage with Swift install guide needs to refine. Is there any way I can help? Because I make some note on my side.

[2018-05-16 21:03] theoquimby commented on #103
I am also struggling to follow the basic setup step for swift. I have attempted all three installation methods and run into issues with each.  An update to the installation documentation as well as some added documentation for getting started with Cucumberish in Swift post installation would be greatly appreciated. It seems all steps following the installation are geared towards Ovjective-C.

Than

[2018-05-17 10:10] David-Grigoryan opened #104 "Step implementation with parameters"
I have `Then` step in my .feature file
`Then I have entered valid <username> and <password>`
And also examples provided like:
[code]

I stuck on swift implementation part and unable to write any correct swift code as I can't find any example or documentation. The simple steps without parameters are working as they should but I'm unable to match step implementation with step definition and even pas

[2018-05-17 16:18] jerseysu commented on #104
@David-Grigoryan
How about write scenarios outline as follow?

[code]

[2018-05-18 02:26] roroxie opened #105 "Cucumberish can't compile using -sdk iphoneos"
Background:
We are using Cucumberish with XCTest to test our iOS app, now we are trying to use firebase testlab to run our test!

Issue:
Previously we use -sdk iphonesimulator to compile, now since we will use real device of firebase, we need to use -sdk iphoneos to compile, but we got below error:
clang: error: linker command failed with exit code 1 (use -v to see invocation)
Ld ˜/IOS_PACKAGE/Bui

[2018-05-18 09:13] #105 closed

[2018-07-01 18:52] ppires commented on #100
Looks like it doesn't support other languages than english. I was trying to use it in portuguese, and my step definitions only were recognized when I changed my feature file to use english keywords.

[2018-07-02 13:10] fotiDim opened #107 "Add Swift Package Manager support"
I would like to use Cucumberish with [Vapor](https://vapor.codes). Since a Vapor projects defines dependencies with Swift Package Manager it would be nice if Cucumberish supported it. A `Package.swift` manifest file is needed at the root.

[2018-07-18 20:53] dgommers commented on #107
Using Cucumberish with Vapor sounds like a brilliant idea that brings a lot of potential. Feel free to make a PR for supporting the Swift Package Manager.

[2018-07-30 23:23] normand1 opened #108 "Where is the example application?"
An example application is mentioned in the README, but I'm not seeing it in this repo anywhere.

[2018-08-13 19:56] normand1 commented on #108
Hi @Ahmed-Ali any help or links would be appreciated, thanks!

[2018-08-20 08:32] gcorfield commented on #108
Hi @Ahmed-Ali
I am trying to use your Cucumber system but I cannot see any Objective-c examples. Please would you help me

[2018-09-07 12:00] arvere opened #109 ""And" steps not being recognized"
Hello, I've recently started to use Cucumberish and I'm not sure if this is by design, but it just won't interpret any "And" steps from my feature files.
It seems that at least on the step implementations the And selector was deprecated so I'm using MatchAll, but no luck there.
Does it mean that Cucumberish is simply not supporting And? Why?
Btw, is the project still being developed? It's been a y

[2018-09-18 14:36] bmsoko commented on #109
Hello! is cucumberish still maintained?

[2018-11-12 23:28] Dong-Lin opened #111 "Inconsistent test result from different iOS Simulators"
Hi There,

I have setup the Cucumberish successfully in iOS project.  When I use simulator iPhone 5 - OS 10.3.1. It works well. if I change the simulator to iPhone 5 - OS 12. All tests will fail. is there anyone encounter similar issue?

Thanks for any reply in advance.

[2018-11-16 02:41] Dong-Lin commented on #111
In the end, I find out the fail test is not relate to Cucumber framework. Cucumber framework works well in iOS 10, 11, 12

[2018-11-16 02:41] #111 closed

[2018-12-07 16:16] dennispost commented on #92
+1

[2018-12-08 00:04] casademora commented on #93
This is because there is no Mac framework target configured. There needs to be one added, and shared, for Mac support.

[2018-12-11 08:10] My33 opened #113 "No such module 'Cucumberish' Carthage"
Hi,
I am getting no such module 'Cucumberish' when i try to install cucumberish using carthage.
I have tried drag and drop and all build phase settings.Can someone let me know what could be the issue.

[2019-01-10 14:16] #97 closed

[2019-02-15 05:50] nagashreeabhilash100 opened #114 "When can we expect the support for the Xcode 10.1 & Swift 4.2?"
In our organisation we are currently using the Xcode 10.1 & Swift 4.2, and we are using the Cucumberish, so, when can we expect the support for this?

[2019-02-20 08:12] nagashreeabhilash100 commented on #114
@Ahmed-Ali : Sir, any update. Is Cucumberish supporting the Swift4.2?

[2019-02-20 20:39] wildthink opened #115 "integrating w/ XCTest - recordFailure"
In trying to understand your approach I find that I would prefer to have somewhat of more "expected" integration point calling out selected tests from standard XCTest.

I also not that you are swizzling the recordFailure method. Is the to work around some bug? I have experienced some difficulty in getting Xcode to properly display links to outside files. recordFailure(...) is not behaving as I wou

[2019-02-25 09:46] nagashreeabhilash100 commented on #114
@Ahmed-Ali : Any update on supporting the Swift4.2?

[2019-02-26 16:11] rafaelclaycon opened #116 "The bundle "UITests" couldn't be loaded because it is damaged or missing necessary resources when using use_frameworks! on the Podfile"
Hello,

I'm using Xcode 10.1 (10B61) and Swift 4.2 on my project and had already had trouble making Cucumberish be recognized as an available framework inside the project.

I'm trying to implement UI tests and used @bartzet's demo project as a basis for setting up the folder organization and Objc Bridging required by Cucumberish: https://github.com/novoda/ios-demos/tree/master/Cucumberish-demo

Th

[2019-02-26 16:22] rafaelclaycon commented on #116
So, after a little digging from a colleague of mine, he found that replacing the `inherit! :search_paths` line on the Podfile by the same list of pods as used on the main app's target (and keeping `use_frameworks!` there) resolves both of the issues.

He had that idea based on the following SO question: https://stackoverflow.com/questions/40480503/the-bundle-uitests-couldn-t-be-loaded-because-it-i

[2019-02-28 18:16] #116 closed

[2019-03-12 00:18] nagashreeabhilash100 commented on #114
@Ahmed-Ali : Sir any update?

[2019-03-12 15:16] oivzhich opened #117 "Using data tables with Swift"
Hello, can you please guide me, how to use steps definitions with Data Tables in swift?
I can see example in Objective-C
`Given(@"the following accounts exist", ^(NSArray<NSString *> *args, NSDictionary *userInfo) {
        NSArray * rows = userInfo[@"DataTable"];
    });`
but how to do the same in Swift?

[2019-03-26 17:01] idelfonsog2 commented on #117
Given("string") { inlineParams, dataTable in
            self.stub(dataTable: dataTable)
        }

[2019-03-26 17:02] idelfonsog2 commented on #114
Hi there, I'm using Xcode 10.1 swift 4.2 with Cucumberish let me know what sort of errors are you seeing

[2019-03-26 17:04] idelfonsog2 commented on #109
The `And` step is label as with a deprecated warning which should say use the `But` callback does that work for you?

[2019-04-10 17:18] sidekickr commented on #114
I've been using it with Xcode 10.1/Swift 4.2 and Xcode10.2/Swift 5. With my setup I just don't create the bridging header when adding the .m file and things seem to work pretty well for me.

[2019-04-10 17:22] sidekickr opened #118 "Gherkin Upgrade"
With Xcode 10, there are some compiler warnings in the Gherkin source code. It looks like the version of Gherkin included with Cucumberish is v4. Has any thought been given to upgrading the Gherkin version?

[2019-04-16 09:18] stevenxiaoyang opened #119 "scheme url"
If I want to define jump url。But XCUIApplication don't have method:openurl。And if I use "[UIApplication sharedApplication]", it can't work。
I want to know how to solve it。

[2019-05-02 19:03] rafaelclaycon commented on #47
How do I get `userinfo` in `let xctest = userinfo?["XCTestCase"] as! XCTestCase`? Or in case I decide to use `SStep(dict?[kXCTestCaseKey], "Given the app is running")` where do i get the `dict` from and how to I use this declaration? Does it return something and why does it mention the step definition ("Given the app is running")?

<img width="579" alt="Screen Shot 2019-05-02 at 16 02 43" src="htt

[2019-05-02 19:49] slozo commented on #47
@rafaelclaycon You get the dict as a second parameter in steps. For example something like this:
[code]

[2019-05-06 13:13] rafaelclaycon commented on #47
Thanks to your quick and helpful response, I was able to make it work! I would like to emphasize the need to tap or swipe the app (`app.tap()` or `app.swipeUp()`) in order for the interaction with the prompt to go through. In my case I needed to have both an 'Allow' and a 'Don't Allow' scenario for interacting with the camera prompt. Took me a while to figure out the missing piece was the tap or s

[2019-05-08 12:59] AhmedOsamaBarghash opened #121 "Use of unresolved identifier error"
I Follow the steps of adding the dependencies and I keep having the same error every time I Build the app or run the test case
![Screen Shot 2019-05-08 at 2 58 52 PM](https://user-images.githubusercontent.com/48791579/57377108-e8bec300-71a1-11e9-81db-72ddbfa53a8d.png)
![Screen Shot 2019-05-08 at 2 59 14 PM](https://user-images.githubusercontent.com/48791579/57377110-e8bec300-71a1-11e9-8659-d0e2cf1

[2019-05-08 14:29] Ti-m commented on #93
If you dont need macOS you can try:
`carthage update --platform iOS`
It worked for me

[2019-05-09 12:35] AhmedOsamaBarghash commented on #121
The problem was for the .feature not .feature

[2019-05-09 12:35] #121 closed

[2019-06-10 09:24] junweimah commented on #84
hi

I am getting the same error.

Sorry but how can I do this? I follow everything on the swift setup guide and got this error in `CucumberishInitializer.swift` class when running test. Build project is fine though

[2019-06-10 09:32] bartzet commented on #84
I have created a working example project here and blog post
https://github.com/novoda/ios-demos/tree/master/Cucumberish-demo
https://blog.novoda.com/cucumberish-bdd-testing-framework-for-ios-applications-sample-application/

hope you find it useful

[2019-06-10 09:35] junweimah commented on #84
Thanks for the quick reply, will check it out

[2019-06-11 04:10] junweimah commented on #84
I added this in my pod file

[code]

then my project cant build with the error `Alamofire' does not contain bitcode.` How can I only disable bitcode the cucumberish only?

[2019-06-11 04:31] junweimah commented on #84
I found it here:

![image](https://user-images.githubusercontent.com/21700014/59243872-c1e22980-8c44-11e9-9766-7a5413aa0d05.png)

And removed the block of code in podfile. Now I can import Cucumberish

[2019-06-11 22:58] Srutherford2407 commented on #114
@sidekickr Do you have any examples available for viewing using Xcode 10.2/Swift 5? I am rather new to IOS/swift and trying to compare Detox, XCUITest, and Appium but I need the cucumber integration as well.

I was able to implement what you have listed here which helped clear up a few errors. But not sure how/where too step up my given when tests.

[2019-06-12 12:47] sidekickr commented on #114
@Srutherford2407 I don't have any small samples that I can share, but I can provide some more guidance. The code I posted will read in the feature files, parse them and execute them. It doesn't cover the loading step definitions. I typically create one or more classes that implement the step definitions.

If the class is named MyProjectStepDefs then I would load it like so before calling executeFe

[2019-06-14 13:39] rafaelclaycon commented on #91
What do you mean by "dry-run"?

I'm running into an issue that I believe could be related which is the `beforeTagged()` not being called when I run a single test putting its tag on the `includeTags`: in `Cucumberish.executeFeatures`.

[2019-06-14 13:46] lukeredpath commented on #91
@rafaelclaycon I have absolutely no idea what I meant by "dry-run" given as I posted this over 18 months ago. ;)

[2019-06-14 14:39] rafaelclaycon commented on #91
No problem, have a good one.

[2019-06-26 09:29] olyv commented on #114
Hi Guys, has anybody tried it with Xcode 10.2.1 and swift 5?

[2019-06-26 09:45] nagashreeabhilash100 commented on #114
@olyv : I have. Working perfectly fine with Xcode 10.2.1 and swift 5.

[2019-06-26 12:18] olyv commented on #114
ok, got it working with Xcode 10.2.1 and swift 5

[2019-06-27 15:42] Srutherford2407 commented on #114
@nagashreeabhilash100  @olyv Do either of you have an example you could possibly share?

[2019-06-27 15:48] sidekickr commented on #114
@Srutherford2407 what sort of problems are you running into?

[2019-06-28 13:18] olyv commented on #114
@Srutherford2407 this is an example https://github.com/depoon/WeatherCucumber I followed

[2019-07-03 08:30] olyv commented on #108
try https://github.com/depoon/WeatherCucumber

[2019-07-03 12:57] olyv opened #122 "How to execute tests in parallel?"
Hi,
There is an option to run test in parallel in Xcode 10 ("Execute in parallel on simulator" ). That option works fine with XCTest only but I am not sure how to do it with Cucumberish. In other words, how to split `Cucumberish.executeFeatures` between several classes inheriting `XCTestCase`. I asked the same question on [Stackoverflow](https://stackoverflow.com/q/56855114/2504101)  but it doesn'

[2019-07-08 14:01] olyv commented on #91
In other Cucumber ports 'dry-run' is used to validate feature files syntax and find missing steps without actual execution of features. And I wonder if it's available in Cucumberish ;)

[2019-07-08 15:03] matdtr opened #123 "how to generate JSON output"
Hi i'm new to Cucumberish i saw that there is possibility to generate a JSON output after the test but how? There is no documentation about it, just in the changelogs

[2019-07-09 12:38] olyv commented on #86
sorry, I am still not sure whre json reports are located after test run, can anyone advise?

[2019-07-09 16:48] rafaelclaycon commented on #91
@olyv This setting did not work as expected for me. I deleted some steps from my tests and ran them with that option set. The tests were not actually executed, as you said, but the steps I removed were not reported missing. :(

[2019-07-10 11:42] olyv commented on #91
For it works completely opposite way: it shows all steps as undefined despite the fact I have step definitions 😆

[code]

[2019-07-11 11:54] olyv commented on #123
indeed, where is json?

[2019-07-15 10:46] olyv commented on #123
Hi @matdtr ,
could you share if you managed to find json reports location? I think they are not generated for me

[2019-07-18 12:09] olyv commented on #123
and back to json reports; they seem to be not generated for failed scenarios. I.e., report is only stored for passed test. Am I messing with setup again? 😆

[2019-08-28 08:06] olyv commented on #122
yeah, I could solve my problem by subclassing CucumberishInitializer but Xcode test parallelization works in unpredictable way and I could have up to 2 -3 simulators at a time. After all, I had to create my own sharder and refused using Cucmberish in favour of different Cucumber-like swift library

[2019-08-28 08:06] #122 closed

[2019-08-29 06:14] olyv commented on #91
yes, my steps start with capital letter. Never tried lowercase first letter

[2019-08-29 21:25] iammike commented on #113
I also have this problem. Fortunately, it has no effect on my ability to use Cucumberish successfully.

[2019-08-31 10:02] nishithcitc opened #124 "Is there any listener for After and Before step hook?"
After Step and Before Step hook is missing. This causing lots of limitation.

[2019-09-24 09:35] khalilTN opened #125 "executeFeatures nothing happens"
Hi,

I'm using cucumberish with XCode 10.3 and Swift
When runnig tests, CucumberishSwiftInit gets called, calling executeFeatures, but none of my features gets executed.

Tanks in advance

[2019-11-08 14:24] antonbremer commented on #125
@khalilTN Same here. :( Did you manage to resolve this? Is Cucumberish still maintained? It looks awesome, really want to get this to work.. :)

[2019-11-08 15:35] antonbremer commented on #125
I got it working in my environment, Xcode 11.2.1, Swift 5

In my case I made a mistake creating the folder. I created the folder in Xcode,  rather than creating it as a folder reference.
So to fix it I did the following steps:
1. I located my "Features" folder in Finder
2. I dragged the folder into Xcode inside my Test Target
3. I selected "Create folder references"

This is actually well describe

[2019-12-11 09:56] AhmedOsamaBarghash commented on #93
@Ti-m
`carthage update --platform iOS` was working fine with me too but after I update Xcode to 11.3
stoped working also `carthage bootstrap`

[2019-12-19 12:25] 0megaD commented on #125
We've had an issue where naming the Feature 'Example' wouldn't cause the test feature to load, but giving it a different name did work. No idea why 'Example' would break the feature, but it did.

[2019-12-19 16:12] 0megaD opened #126 "CucumberishInit() is never called in some of our projects."
Hiya,

We tried setting up Cucumberish in some of our iOS projects that are using Cocoapods.
The basic setup works perfectly fine for some of our projects, but for some others, it just doesn't do anything at all.

And by anything, I mean CucumberishInit() is never called. (The constructor never gets hit, breakpoints don't get hit, etc.)

Do you have any ideas as to what could prevent Cucumberish f

[2019-12-24 14:44] idelfonsog2 commented on #125
This might shed some light:

I always forget to call the methods that implement the function calls to the cucumberish framewrok, in this case, LoginStepsImplementation() class. As a result,  my `CucumberInitializer.swift` looks like the following

[code]

[2020-01-14 09:13] 0megaD commented on #126
Adding the cucumberish dependency added a second duplicate set of Build Phase include options.  Messing around with these fixed the issue eventually.

[2020-01-14 09:13] #126 closed

[2020-02-18 17:57] iammike opened #127 "Cannot execute tags using AND logic"
It is highly useful in my CI environment to run tests based on multiple tags. This does not appear possible due to Cucumberish only supporting an OR tag definition.

In a standard CucumberOptions definition, this is done by passing in an array of strings as follows, but this doesn't appear supported by the Cucumberish framework:

`tags = ["@iOS", "@test1, @test2"]`

The above would run **test1** a

[2020-04-13 04:07] azamsharp opened #128 "Great framework but lack of instructions to setup makes it useless."
Why not add a video or something to show how to setup. Your instructions looks like it was written in a very hurry fashion. If you can guide me in setting up Cucumberish successfully, I am willing to create a video too.

[2020-04-13 19:10] azamsharp opened #129 "The UITests project is installing as a separate app."
The UITest project is installing as a separate app and sometimes it also runs in a loop and never ends.

[2020-04-15 22:22] kalimsayyad opened #130 "Test Cases not getting executed"

[2020-04-17 01:50] azamsharp commented on #130
I created a video on Cucumberish which will help you setup:
https://youtu.be/u-cL6MFhAA0

[2020-04-17 13:03] rafaelclaycon commented on #128
Hey @azamsharp. I completely agree that the first setup for Cucumberish is hard. Please take a look at a sample project I created, it might be of some help: https://github.com/rafaelclaycon/SpellChecker

[2020-07-03 00:31] robwhitlock666 opened #131 "Screenshots"
Do screenshots for failed tests work out of the box? Since we don't really have access to the XCTestCase being generated, we can't do our own screenshot management.  Any help appreciated.

[2020-07-15 10:01] RookieZn commented on #131
@robwhitlock666 Will [XCUIScreenshot](https://developer.apple.com/documentation/xctest/xcuiscreenshot) work for you?

[2020-08-14 08:30] Mikuu opened #132 "Any approach to rerun failed tests"
Hi,

I'm using Cucumberish for lots of cases, some of them are fragile and failed randomly.

Not sure if there is any approach can make the failed specs rerun for specific times?

There is a fastlane plugin test_center which provides multi_scan action has the ability to support rerun failed tests, but I found multi_scan is only working with pure CXUITEST, doesn't work with cucumberish.

BR.
Mikuu

[2020-08-14 09:14] Mikuu commented on #131
@RookieZn I tried XCUIScreenshot in screen definition files, like below

[code]

but couldn't find the screenshot/attachment in the xcode test report, no idea why?

[2020-08-25 19:49] sidekickr commented on #132
Hi Mikuu,

My general approach is to specify each feature file to have unique tags, making it easier to rerun targeted feature files. You could set your scanner to find the failed tests and then provide the tags for those tests via a command line argument to limit which tests are re-run.

[2020-10-22 05:02] #130 closed

[2020-11-24 19:04] cortis opened #134 "In the "Install Manually for Swift" page you need to add @objc in Swift 4 and above"
With Swift 4 and higher you need to change the code for the CucumberInitializer to include the @objc tag like the following

[code]

Otherwise you'll get an error that CucumberishSwiftInit() is not a method on CucumberishInitializer

[2020-12-12 01:25] wiralegawa commented on #122
can u share your problem solving @olyv ? i still looking at doing parallelization in cucumberish 🙇 . thank you

[2021-01-12 14:09] hxxyyangyong opened #136 "iOS 14.2 & Xcode 12.2 [[XCUIApplication alloc] initWithBundleIdentifier:@"xxx"] Method Throw Exception"
Code:
[code]

Error:
[code]

[2021-01-13 02:56] hxxyyangyong commented on #136
@Ahmed-Ali

[2021-01-14 09:24] #136 closed

[2021-01-26 20:06] broken-bytes opened #137 "The project is clearly abandoned, at least state it as such in the readme"
The commit history already shows, there has not been put any work into the project in years.
The last release is almost four years old.

The framework is even listed on the official Cucumber Website, thus many people land here, not knowing this project is dead.

Please state that the project is abandoned and, if applicable, link to a more maintained fork of this project.

[2021-02-26 07:13] Mikuu opened #138 "Not support XCode 12?"
All our tests are running good with XCode 11.5, but when running with XCode12, will get error:

[code]

to:

[code]

Does anyone make Cucumberish working with XCode 12

[2021-04-07 03:38] nishithcitc commented on #138
I believe that it should work. I am working on Xcode 12.4. I can't see any issue.
And Cucumbarish has nothing to do with
`let application = XCUIApplication()`

[2021-04-12 01:27] bimawa opened #139 "Is cucumberish support scenarios for multiply simulators?"
Hi, guys!
Tell me pls, can I implements Scenarios for communication test between 3 devices?
I have group chats and want to cover it by bdd, without mocking backend.

[2021-04-27 17:22] sidekickr opened #141 "Xcode 12.5 problem"
I believe that cucumberish breaks on Xcode 12.5. In the below method in cucumberish.m the allocation of the invocation test fails to compile. Specifically this line:

`            invocationTest =  [[self alloc] initWithInvocation:inv];`

My local fix is to do this:
`            invocationTest =  [((id)[self alloc]) initWithInvocation:inv];`

And to add an `@import Foundation;` to the top of cucum

[2021-05-28 17:07] duyquang91 commented on #141
@sidekickr I already created a PR for this: https://github.com/Ahmed-Ali/Cucumberish/pull/140. It is still in review so you can use my fork repository for workaround in the meanwhile.

[2021-05-28 19:23] sidekickr commented on #141
Awesome, thank you.

[2021-05-29 03:12] broken-bytes commented on #138
It’s the load order. You need to define your Testapplication lazily after the init of cucumberish

[2021-05-29 03:14] broken-bytes commented on #141
It’ll will stay in review, project has been dead for months

[2021-05-29 03:48] iammike commented on #141
Much longer than that, more or less.

[2021-05-29 03:50] broken-bytes commented on #141
There was a commit on dev for SPM half a year ago. Besides that, it has been years.

[2021-05-31 02:17] Mikuu commented on #138
good, already made it works, thanks.

[2021-05-31 02:17] #138 closed

[2021-07-06 10:40] codechallengeios commented on #141
A version with this fix will be released?

[2021-09-02 11:00] nagashreea opened #143 "Error thrown: No visible @interface for 'Cucumberish' declares the selector 'initWithInvocation:'"
<img width="883" alt="Screenshot 2021-09-06 at 3 54 09 PM" src="https://user-images.githubusercontent.com/88699633/132203017-19177b60-ad4e-44e0-9f3b-57d2809e170e.png">
Hi @Ahmed-Ali . I Am getting the below error while building the app. @brentleyjones @patmalt @TitouanVanBelle @vincentkjj @dgommers
Error: Bad receiver type 'void (*)()' in Cucuber loader
Error: No visible @interface for 'Cucumberis

[2021-09-03 06:29] pmohite31 opened #144 "How to navigate to step definition from feature file by clicking on step from feature file?"
I am using this library and its very useful only thing i have observed is one cannot navigate to step definition from feature file by clicking on step. Due to this it's very difficult to search the corresponding step in step definition file.
If testcase is failing it shows in feature file which step is failing but you cannot navigate to step definition of the same by clicking on step.

Any idea ho

[2021-09-06 10:01] nagashreea commented on #143
@brentleyjones @patmalt @TitouanVanBelle @vincentkjj @Ahmed-Ali : Please help.

[2021-09-15 14:08] henawey-t commented on #141
Release 1.4.0 fix this. I'll close the ticket.

[2021-09-15 14:08] #141 closed

[2021-10-16 20:01] henawey-t commented on #143
If I'm not mistaken, it solved with v1.4.0 version.

[2021-10-16 21:00] Mahmoud-Bassuni commented on #143
thank you so much @henawey-t  its working fine now

[2021-10-17 07:11] #143 closed

[2021-11-01 18:52] singh88 commented on #95
I am stumbled upon this too. Any suggestion on how to go about it?

[2021-11-07 04:27] singh88 commented on #95
I was able to get it work with fastlane and xcodebuild. As its said, its pretty straight forward. You just need to define the testing scheme and your tags that you want to run and the through fastlane or xcodebuild you just need to call the test scheme and it will work just fine.
For example,

if you are calling Cucumberish 'execute feature' function with tags @uitest and if you run your ui test s

[2021-12-16 23:16] vic-aban opened #146 "How to integrate with AWS Device Farm"
Hello,
is there a documentation on how to test mobile apps using Cucumberish and AWS Device Farm?

[2022-01-14 16:51] iksnae commented on #107
has anyone taken a crack at this? are there any known issues with preparing Cucumberish as a Swift Package?

[2022-04-06 18:23] Brian-Doig commented on #107
This is still needed.

[2022-04-12 15:27] illyaGordiyenkoDev commented on #107
Is there any way to get this released? Seems like the PRs for this have been integrated. @Ahmed-Ali

[2022-05-16 21:05] jaron-m-lowe commented on #107
+1 on getting this released since it was merged in PR #135. Would love to get off of Cocoapods entirely and move over to SPM!

[2022-05-17 16:33] Brian-Doig commented on #107
+1 on getting this released.  I need this as well.

[2022-05-17 16:46] henawey-t commented on #107
thanks guys for the feedback, I'll pick it up for assessment ASAP. I'll post any updates on this thread.

[2022-05-27 10:22] zhaoxh11 opened #147 "No such module 'Cucumberish'"
Basically, I follow the steps stated in https://github.com/Ahmed-Ali/Cucumberish/wiki/Install-manually-for-Swift but when I try to run a test case it will show the error No such module 'Cucumberish' in file CucumerishInitiallzer.swift.

[2022-05-27 10:28] zhaoxh11 commented on #134
Hi, will you encounter the issue No such module 'Cucumberish' in file CucumerishInitiallzer.swift.

[2022-11-15 18:22] gazdagsandor commented on #146
I'd like to know this too because whatever I can find as a junit output from the device farm run is not relevant to the input.